<section class="w-75 mx-auto rounded shadow bg-main-light p-3 mb-3 ">
  <h2>CheckOut</h2>
  <form (ngSubmit)="handelForm()" [formGroup]="orderForms">

    <div class="form-item">
      <label for="details">details:</label>
      <input class="form-control" type="text" id="details" formControlName="details">
    </div>


    <div class="form-item">
      <label for="phone">Phone</label>
      <input class="form-control" type="text" id="phone" formControlName="phone">
    </div>
    <div class="form-item">
      <label for="city">city</label>
      <input class="form-control" type="text" id="city" formControlName="city">
    </div>

    <button (click)="handelForm()" class="main-btn m-3">CheckOut</button>
  </form>
</section>
